#### 1. Write a Python script to display the
#### a. Current date and time
#### b. Current year
#### c. Month of year
#### d. Week number of the year
#### e. Weekday of the week
#### f. Day of year
#### g. Day of the month
#### h. Day of week

In [1]:
import pandas as pd
import datetime

In [3]:
#current date and time
datetime.datetime.today() # method 1
pd.Timestamp.today() # method 2

Timestamp('2020-07-23 00:19:27.274972')

In [7]:
#current year
datetime.datetime.today().year # method 1
pd.Timestamp.today().year # method 2

2020

In [56]:
#month
datetime.datetime.today().month #method 1
datetime.datetime.today().strftime('%B') #method 2

'July'

In [23]:
#week number 
datetime.datetime.today().isocalendar()[1]

30

In [69]:
# weekday of the week
datetime.datetime.today().weekday()

3

In [71]:
#day of the year
datetime.datetime.today().strftime("%j")

'205'

In [72]:
#day of the month
datetime.datetime.today().day

23

In [100]:
#day of week
datetime.datetime.today().strftime('%A')

'Thursday'

#### 2. Write a Python program to convert a string to datetime.
Sample String : Jan 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

In [45]:
sample='Jan 1 2014 2:43PM '
pd.to_datetime(sample,format='%b %d %Y %I:%M%p ')

Timestamp('2014-01-01 14:43:00')

#### 3. Write a Python program to subtract five days from current date.

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

In [50]:
datetime.datetime.today().date()+pd.DateOffset(days=-5)

Timestamp('2020-07-18 00:00:00')

#### 4. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

In [99]:
datetime.datetime.fromtimestamp(1284105682).strftime('%Y-%m-%d %H:%M:%S')

'2010-09-10 13:31:22'

#### 5. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

In [78]:
DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

In [85]:
pd.to_datetime(DoB,format='%d%b%y')+ pd.DateOffset(years=-100)

0   1959-09-07
1   1955-01-01
2   1947-12-15
3   1942-07-11
dtype: datetime64[ns]

#### 6. Write a Python program to get days between two dates.

In [94]:
a=datetime.date(2020,12,12)
b=datetime.date(2010,5,30)
a-b

datetime.timedelta(days=3849)

#### 7. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 98"

In [96]:
Date = "15Dec1989"
Date=pd.to_datetime(Date,format='%d%b%Y').strftime('%A  %d %b %y')
Date

'Friday  15 Dec 89'