# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset *chipotle.tsv*

In [12]:
chipo = pd.read_table("C:/Users/ACER/Desktop/Analytixlabs/Python/Manuj_Sir_python/Assignment/Exercise Data Files/Pandas Exercise Filtering Sorting Files/chipotle.tsv",sep="\t")

### Step 3. Assign it to a variable called chipo.

In [13]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [11]:
#method 1
chipo.item_price=chipo.item_price.str.replace('$','').astype(float)

In [31]:
#method 2
chipo['item_price']=chipo['item_price'].apply(lambda x: float(str(x).replace('$','')))
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [14]:
chipo.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [9]:
chipo.item_name.loc[(chipo.item_price > 10)].count()

1130

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and `item_price`

In [15]:
chipo[['item_name','item_price']].drop_duplicates(subset='item_name').head(2)

                      item_name  item_price
0  Chips and Fresh Tomato Salsa        2.39
1                          Izze        3.39

### Step 6. Sort by the name of the item

In [14]:
chipo.sort_values(by=['item_name'],ascending=True).head(2)

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [17]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [19]:
chipo.quantity.loc[(chipo.item_name=='Veggie Salad Bowl')].count()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [22]:
chipo.order_id.loc[(chipo.item_name=='Canned Soda') & (chipo.quantity >1) ].count()

20